* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/pics/pics.png") center;
  background-size: cover;
  height: 30vh;
  width: 100%;
  color: aliceblue;
}
.topBar::before {
  content: "";
  width: 100%;
  height: 30vh;
  z-index: 0;
  position: absolute;
  background-color: rgba(1, 1, 0, 0.389);
}
h1,
p {
  z-index: 1;
  text-shadow: 0 3px 5px white;
}
.planHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(59, 115, 73);
  min-height: 70vh;
  justify-content: start;
  padding-top: 90px;
}
.adder {
  width: 50%;
  background-color: rgb(15, 249, 85);
  padding: 10px 20px;
  box-shadow: 3px -7px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 766px) {
  .adder {
    width: 90%;
  }
}
.planText {
  padding: 7px 15px;
  border-radius: 7px;
  border: none;
  border-top: 3px solid;
  border-right: 3px solid;
  width: 90%;
}
.added {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  min-height: 80%;
  background-color: lightgreen;
  margin-top: 20px;
  border-radius: 10px;
}
.addBtn {
  background-color: rgb(0, 0, 0);
  padding: 3px 7px;
  border-radius: 10%;
  color: aliceblue;
  font-weight: 900;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  cursor: pointer;
}
.mainTask {
  width: 90%;
  min-height: 50px;
  box-shadow: inset 0 0 10px;
  border: 2px solid rgb(13, 36, 105);
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
  border-radius: 5px;
}
.buttons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  color: blue;
  font-size: larger;
}
.addedTask {
  background-color: #ffffff85;
  width: 70%;
  padding: 10px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 10px;
  box-shadow: inset 0 0 5px, 0 0 5px;
  font-weight: 900;
  font-family: cursive;
  height: auto;
}
.addedContainer {
  padding: 10px 15px;
}
.removed {
  text-decoration: line-through;
  text-decoration-color: blue;
}
.fas {
  cursor: pointer;
}
.editor {
  background-color: #ffffff85;
  width: 70%;
  padding: 10px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 10px;
  box-shadow: inset 0 0 5px, 0 0 5px;
  font-weight: 900;
  font-family: cursive;
  height: auto;
}
.subButton {
  background-color: transparent;
  border-color: transparent;
  font-size: 25px;
  margin: 0 5px;
  display: none;
  cursor: pointer;
}
